*{
    margin: 0;
    padding: 0;
}
/*corpo todo*/
body{
    box-sizing: border-box;
    background-color: #fcfcfc;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    background: radial-gradient(circle, rgba(77,69,218,1) 0%, rgba(99,99,223,1) 50%, rgba(72,175,196,1) 100%);
}
/* menu navegação*/
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
@media only screen and (min-width: 400px) {
    .menu {
    flex-direction: row;
    }
}
@media only screen and (max-width: 400px) {
    .menu #btn1 {
    display: none;
    }
}

/*img logo*/
img{
    width: 30px;
    margin: 10px;
}
/* botao do menu*/
#btn1{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    color: #F7FAEF;
}
#btn1:hover{
    border-bottom: 2px solid #CEE3A1;
}

/* conteudo geral */

.conteudo{
   /* border: 2px solid red;*/
    display: flex;
    flex-direction: row;
    background: white;
    padding: 15px;
    margin: 10px 10px 0 10px ;
    border-radius: 20px 20px 0 0;
}  

/*segundo menu*/
.menu-lateral-s{
    /*border: 2px solid black;*/
    width: 50px;
    position: fixed;
    display: none;
}
.menu-lateral-s nav{
    display: none;
}
.menu-lateral-s h4{
    display: none;
}
.menu-lateral-s:hover{
    width: 200px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #ba68c8;
}
.menu-lateral-s:hover nav{
    display: block;
    background-color: rgba(255, 255, 255, 0.39);
    width: 200px;
    height: 320px;
}




/* menu lateral*/
.menu-lateral{
   /* border: 2px solid green;*/
    /*background: white;*/
    position: fixed;
    height: 400px;
    width: 200px;
}
nav ul li{
    list-style: none;
    position: relative;
}
nav ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgb(68, 68, 68) ;
}
nav ul li a:hover{
    border-bottom: 2px solid #CEE3A1;
}
nav ul li ul{
    display: none;
    position: relative;
    margin-left: 10px;
}

nav ul li:hover ul{
    display: block;
}







/* materia */
.materia{
    /*border: 2px solid grey;*/
    background: white;
    margin-left: 200px;
}
.conte h2{
    text-align: center;
    padding: 5px;
}
h4{
    padding-bottom: 5px;
}
p{
    padding-bottom: 5px;
}
.conte{
   /* border: 2px solid black;*/
    display: flex;
    flex-direction: column;
    padding: 10px;
    list-style: none;
    margin: 10px;
    
}
.conte ul li{
    list-style: none;
}

table{
    width: 250px;
    margin: auto;
    border: 1px solid black;
    padding: 10px; 
}


.c1{
    border: 1px solid black;
    width: 400px;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}



@media only screen and (min-width: 300px) {
    .conteudo {
    flex-direction: column;
    display: block;
    }
}
@media only screen and (max-width: 500px) {
    .menu-lateral {
    flex-direction: column;
    display: none;
    }
}

@media only screen and (max-width: 500px) {
    .materia {
    margin-left: 40px;
    }
}

@media only screen and (max-width: 500px) {
    .menu-lateral-s {
    flex-direction: column;
    display: block;
    }
}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table, th, td, tr, .c1 { 
        display: block; 
    }
}
td, th, .c1 { 
    padding: 6px; 
    text-align: left !important;
    font-size:15px;
  }
  @media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
  
      table{ 
          width: 200px;
          
      }
  }
  .tb3{
    width: 500px;
}
  @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    .tb3{ 
        width: 250px;
        
    }
}

#btntopo{
    text-decoration: none;
    font-size: 12px;
    color:white;
    background-color: #4aa9c6;
    /*background-color: #7ecb20;*/
    padding: 8px;
    position: fixed;
    right:20px;
    bottom:10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #333;
}

