*{
    margin: 0;
    padding: 0;
}
/*corpo todo*/
body{
    box-sizing: border-box;
    background-color: #fcfcfc;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    background: radial-gradient(circle, rgba(77,69,218,1) 0%, rgba(99,99,223,1) 50%, rgba(72,175,196,1) 100%);
}
/* menu navegação*/
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
@media only screen and (min-width: 400px) {
    .menu {
    flex-direction: row;
    }
}

/*img logo*/
img{
    width: 30px;
    margin: 10px;
}
/* botao do menu*/
#btn1{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    color: #F7FAEF;
}
#btn1:hover{
    border-bottom: 2px solid #CEE3A1;
}

/* conteudo*/ 
.conteudo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
@media only screen and (min-width: 400px) {
    .conteudo {
    flex-direction: row;
    }
}
.simulado{
    width: 80vw;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    border: 1px solid #fff;
    border-radius: 20px;
}
@media only screen and (min-width: 400px) {
    .simulado {
    flex-direction: row;
    }
}
::marker{
    color:#7ecb20;
    font-size: 20px;
}

.quest1{
    margin: 10px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 400px) {
    form {
    flex-direction: row;
    }
}

.exemplocod{
    color: white;
    background: #222222;
    width:fit-content;
    padding: 20px;
    border-radius:5px;
    margin: auto;
}

.opc1{
    padding: 50px;
}


.quest table th{
 font-weight:bolder;
 text-align:center;
 background-color: #e9e9e9;
 
}

.quest table td{
    padding: 5px;
    
}

.quest table tr:nth-child(odd) {
    background-color:#fff5f5;
}


.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 30px;
}
.button{
    background: #7ecb20;
    width: 200px;
    font-size: 1em;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    color: black;
    margin: 10px;
    height: 50px;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.button:hover{
    background: #b2ff59;
    
}

.tabela{
    
    padding: 20px;
}
.tabela td:first-child{
    width: 400px;
}



select{
    width: 670px;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}




